@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&family=Ubuntu:wght@300;400;500;700&display=swap");

body {
    background-color: #D96725;
}

.navbar {
  background: linear-gradient(180deg, #0d0d0d -159.78%, #1a1a1a 80.43%);
}

#nav-container {
  padding-top: 0;
  padding-right: 2%;
  color: #f2f2f2;
}

.navbar-brand {
  padding: 0;
}

#navbar-links a {
  color: #f2f2f2;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  margin-left: 2rem;
}

.navbar-expand-lg .navbar-nav .-link {
  padding: 1rem 0.8rem;
}

#logo {
  margin-left: 2rem;
  margin-top: 2rem;
}
/*Body*/
body {
    background-image: url('Frame.svg');
    background-size: 1300px 700px;
    background-position: center top 40px;
    padding-top: 245px;
    padding-left: 5%;
    padding-right: 5%;
}
.equipe {
    display: flex;
    justify-content: space-around;
    height: 32px;
    color: #BFBFBF;
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
}
h3 {
    margin-top: 5%;
    margin-bottom: 18%;
}
.imagensGrupo img {
    border-radius: 50%;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}
.imagensGrupo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 28%;
}
a {
    text-decoration: none;
}
.icones img {
    display: inline-flex;
    flex-direction: row;
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    margin-right: 15px;
}
#linkedinC {
    margin-left: 80px;
}
#linkedinG {
    margin-left: 140px;
}
#linkedinJ {
    margin-left: 140px;
}
#linkedinL {
    margin-left: 140px;
}
#linkedinR {
    margin-left: 140px;
}
/*Footer*/
footer {
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    background: linear-gradient(360deg, #1A1A1A -50.22%, #A62F03 52.06%, rgba(217, 103, 37, 0.8) 197.79%);
    justify-content: center;

}

h5 {
    color: #BFBFBF;
}
.contato {
    color: #BFBFBF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    text-align: center;
}
a {
    color: #BFBFBF;
}
ul .text-white {
    color: #BFBFBF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.container a {
    foncolor: #BFBFBF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    text-align: center;
}
.list-unstyled{
    padding-bottom: 2%;
}
.rodape {
    display: flex;
    column: row;
    justify-content: space-around;
    height: 32px;
    background-color: #0d0d0d;
    color: #f2f2f2;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    align-items: center;
}